body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 10px;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    background-color: #403c3c;
    text-align: center;
    border-radius: 10px;
    margin: 2rem 0;
    box-sizing: border-box;
  }
  
  .foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .foto img {
    width: 100%;
    max-height: 300px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .cronometro {
    font-size: 14px;
    margin-bottom: 20px;
    color: white;
  }
  
  .cronometro span {
    font-size: 18px;
    color: red;
    font-weight: bold;
  }
  
  .texto {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .video iframe {
    width: 100%;
    height: 180px;
    border: 2px solid #000;
    border-radius: 10px;
  }
  
  button {
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    width: 100%;
    cursor: pointer;
  }
  
  /* Garantir responsividade para telas menores */
  @media (max-width: 480px) {
    .container {
      padding: 10px;
      margin: 1rem 0;
    }
  
    .foto img {
      max-height: 250px;
    }
  
    .video iframe {
      height: 150px;
    }
  
    button {
      font-size: 14px;
      padding: 8px;
    }
  }
  