#carousel{
  margin-top:20px;
  border-radius:var(--radius);
  overflow:hidden;
  box-shadow:var(--shadow);
  width:100%;
}

#carousel-track{
  display:flex;
  transition:0.6s ease;
}

#carousel-track img{
  width:100%;
  height:50rem;
  object-fit:cover;
  flex-shrink:0;
}
