.modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.7);
  align-items:center;
  justify-content:center;
  z-index:9999;
}

.modal.active{
  display:flex;
}

.modal__img{
  max-width:90%;
  max-height:90%;
  border-radius:var(--radius);
}
